<div>
    <h2 translate="taamineApp.devisTypeChp.home.title">DevisTypeChps</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
              
               
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
     <form name="test" role="form" ng-submit="save()" >
        <table class="jh-table table table-striped">
         	<thead>
                <tr>
                   
                    <th><span >Libelle Champs</span></th>
                   
                    <th><span >Champ Valeur</span></th>
                    <th></th>
                </tr>
            </thead>
            
             
            <tbody>
            
             	<jh-alert-error></jh-alert-error>
                <tr ng-repeat="devisTypeChp in devisTypeChps track by devisTypeChp.id">
					<td>
        			<div class="form-group">
            			<label for="id" >{{devisTypeChp.champ.chpLibelle}}</label>
            		
        			</div>
        			</td>
                   
                    <td>
                    <div ng-switch on="devisTypeChp.champ.ChpType">
    <div ng-switch-when="devisTypeChp.champ.ChpType == 1">
        <!-- code to render a large video block-->
    </div>
    <div ng-switch-default>
       {{devisTypeChp.obligatoire}}
                    <input type="text" class="form-control" id="{{devisTypeChp.valeurChamp.champId}}" name="{{devisTypeChp.champ.libelle}}"
                    			ng-model="devisTypeChp.valeurChamp.valValeur" />
    </div>
</div></td>
                  <td>
                 
                  </td>
                </tr>
               
            </tbody>
            
           
        </table>
         <button type="submit" class="btn btn-primary">
           			 <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                  	</button>
             </form>
    </div>
</div>
