
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDevisLabel" translate="taamineApp.devis.home.createOrEditLabel">Create or edit a Devis</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="devis.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="taamineApp.devis.dateDevis" for="field_dateDevis">DateDevis</label>
            <input id="field_dateDevis" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="devis.dateDevis" is-open="datePickerForDateDevis.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForDateDevisOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

        <div class="form-group">
            <label translate="taamineApp.devis.typeDevis" for="field_typeDevis">typeDevis</label>
            <select class="form-control" id="field_typeDevis" name="typeDevis" ng-model="devis.typeDevisId" ng-options="typeDevis.id as typeDevis.id for typeDevis in typedeviss">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="taamineApp.devis.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="devis.userId" ng-options="user.id as user.id for user in users">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
